<!DOCTYPE html>
<html>

<head>
    <title>Гулдер.kz - Добавление цветка</title>
</head>

<body>
    |<a href="/main_page">Back</a> |<br><br>
    <form action="/flowers/add" method="post">
     
        Название цветов:
        <br>
        <textarea name="name" required> </textarea>
        <br>
        
        Количество цветов:
        <br>
        <textarea name="count" required> </textarea>
        <br>

        Стоимость:
        <br>
        <textarea name="cost" required> </textarea>
        <br>
        
        
        
        <input type="submit" value= "Внести в базу данных">
        
    </form>
</body>

</html>