<!DOCTYPE html>
<html>

<head>
    <title>Гулдер.kz - Авторизация пользователя</title>
</head>

<body>
    |<a href="/">Back</a> |<br><br>
    
    <form action="/profile" method="get">
    <input type="submit" value= "profile">
    </form>
    <br>
    <form action="/flowers/add" method="get">
    <input type="submit" value= "add flower">
    </form>
    <br>
    <form action="/shop" method="get">
    <input type="submit" value= "shop">
    </form>
    <br>
    <form action="/cart/items" method="get">
    <input type="submit" value= "cart">
    </form>

</body>

</html>