<!DOCTYPE html>
<html>

<head>
    <title>Гулдер.kz - Информация о Книге</title>
</head>

<body>
        |<a href="/main_page">Back</a> |<br>
        Information about an user
        <br><br>                
        name : {{ user.name }}
        <br>
        surname : {{ user.surname }}
        <br>
        email : {{ user.email }}
        <br>
        id :  {{ user.id }}
        <br>
        <form action="/purchased" method="get">
            <input type="submit" value= "Купленные товары">
        </form>
</body>

</html>