<!DOCTYPE html>
<html>

<head>
    <title>Гулдер.kz - Shop</title>
    <style>
        #myInput {
            display: none;
        }
    </style>
</head>

<body>
    |<a href="/main_page">Back</a> |     
    <br>
    Список цветов:
    <br><br>
    {% for i in flowers %}
        {% if i.count >= 1 %}
        <form action="/cart/items?page={{prev_page + 1}}" method="post"> 
        Название цветка: {{i.name}}    <input type="text" name="id" value={{i.id}} id="myInput">
        <br>
        Осталось:{{i.count}}   
        <br>
        Цена:{{i.cost}}
        <br>
        <input type="submit" value= "Купить">  Количество:  <input type="text" name="how_much" value=1 required>
        </form>
        <br><br>
        {% endif %}
    {% endfor %}
    |
     {% if next_page != 2 %}
    <td><a href="/shop?page={{prev_page}}">Назад</a></td>    
    |    
    {% endif %}
    {% if next_page - 1 < max_page %}
    <td><a href="/shop?page={{next_page}}">Далее</a></td>
    |
    {% endif %}
</body>

</html>
