<!DOCTYPE html>
<html>

<head>
    <title>Гулдер.kz - Создание пользователя</title>
</head>

<body>
    
    |<a href="/">Back</a> |<br><br>
    <form action="/signup" method="post">
     
        email:
        <br>
        <textarea name="email" required> </textarea>
        <br>

        Имя:
        <br>
        <textarea name="name" required></textarea>
        <br>

        Фамилия:
        <br>
        <textarea name="surname" required></textarea>
        <br>
        
        Пароль:
        <br>
        
        <input type="password" name="password" required>
        <br>
        <input type="file" name="photo">
        <br><br>
        
        <input type="submit" value= "Добавить">
        
    </form>
</body>

</html>